.editor {
}

.editor .editor-section {
  margin-bottom: 40px;
}

.editor h4 {
  font-size: 22px;
  font-weight: bold;
}

.editor input,
textarea {
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 20px;
  font-size: 20px;
  font-family: 'Nanum Pen Script';
}

.editor input {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.editor textarea {
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  resize: vertical;
}

.editor .bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor .emotion-list-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 2%;
}
