.todo-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.todo-item .checkbox-col {
  width: 20px;
}

.todo-item .title-col {
  flex: 1;
}

.todo-item .date-col {
  font-size: 14px;
  color: gray;
}

.todo-item .btn-col button {
  cursor: pointer;
  color: gray;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
